body {
    font-family: Arial, Helvetica, sans-serif;
}

.regular-padding {
    padding: 3% 10%;
}

.person-card {
    margin: 20px 10px;
    border: solid rgb(244, 244, 244) 2px;
    padding: 20px 0 0;
    text-align: center
}

.dark{
    border: solid black;
}

.person-img {
    width: 6rem;
}